{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Changer mot de passe{% endblock title %}

{% block containt %}
<h2 class="text-bg-primary">Changer votre mot de passe </h2>

<div class = "card">
    <p> Entrez votre acien mot de passe.
        En suite entrez votre nouveau mot de passe deux fois.
    </p>
    <form  method="POST">
        {% csrf_token %}
        {{form | crispy}}
        <br>
        <button class="btn btn-primary me-4" type="submit">Confirmation</button>
    </form>
</div>
{% endblock containt %}