{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Mot de passe oublier{% endblock title %}

{% block containt %}
    <h2 class="test-bg-bg-primary"> Mote de passe oublier</h2>
    <p>Entrez votre adresse mail si dessous
        et en suite suivez les instruction qui vous son envoyés par e-mail, pour obtenir<br>
        une nouveau mot de passe</p>
        <form class="card" method="POST">
            {% csrf_token %}
            {{form|crispy}}
            <button type="submit">Envoyer les instruction</button>
{% endblock containt %}