{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Mot de passe oublier{% endblock title %}

{% block containt %}
    <h2 class="text-bg-primary"> Mote de passe oublier</h2>
    <center class="card">Entrez votre adresse mail si dessous
        et en suite suivez les instruction qui vous son envoyés par e-mail, pour obtenir<br>
        une nouveau mot de passe</center>
        <form class="form-control" method="POST">
            {% csrf_token %}
            {{form|crispy}} <hr>
            <button class="btn btn-primary" type="submit">Envoyer les instruction</button>
{% endblock containt %}